*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/logo.svg.png
/feature.svg.png
*.apk
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
